$font-family-sans-serif:
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  'Noto Sans',
  'Liberation Sans',
  Arial,
  sans-serif,
  'Hiragino Sans',
  'Yu Gothic',
  'Noto Sans JP',
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

.next-arrow {
  text-align: center;
  font-size: 5rem;
  color: orange;
  margin: 2rem 0;
}

figcaption {
  margin-top: 0;
  font-size: 0.9em;
}

/* .faq-page の中に閉じ込める */
.faq-page {
  h2,
  h3 {
    border-left: 5px solid var(--sl-color-accent);
    background: var(--sl-color-gray-6);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    /* Q. をつける (疑似要素もネスト) */
    &::before {
      content: 'Q. ';
      color: var(--sl-color-accent);
    }
  }
}
